boto3==1.43.9
botocore==1.43.9
chardet==5.2.0
greenlet==3.5.0
jmespath==1.1.0
Pillow==11.2.1
python-dateutil==2.9.0.post0
s3transfer==0.17.0
pystray==0.19.5
six==1.16.0
SQLAlchemy==2.0.46
typing_extensions==4.13.2
urllib3==2.7.0
watchdog==6.0.0
