boto3==1.40.36
botocore==1.40.36
chardet==5.2.0
greenlet==3.2.1
jmespath==1.0.1
python-dateutil==2.9.0.post0
s3transfer==0.14.0
six==1.16.0
SQLAlchemy==2.0.40
typing_extensions==4.13.2
urllib3==2.6.3
redis==5.0.7
